{% set slurm = salt['grains.filter_by'](

  {
  'RedHat': {
        'use_cgroup': False,
        'server': 'slurmctld',
        'server_bin': '/usr/sbin/slurmctld',
        'scontrol': '/usr/bin/scontrol',
        'slurmd': 'slurmd',
        'slurmd_bin': '/usr/sbin/slurmd',
        'config': 'slurm.conf',
        'env': '/etc/default/slurmd',
        'etcdir':'/etc/slurm',
	    'plugindir': '/usr/lib64/slurm',
	    'logdir': '/var/log/slurm',
	    'rundir': '/var/run',
	    'slurmddir': '/var/spool/slurm/d',
	    'slurmctlddir': '/var/spool/slurm/ctld',
	    'slurmd': 'slurmd',
	    'slurmctld': 'slurmctld',
    	'slurmdbd': 'slurmdbd',
        'pkgSlurm':'slurm',
        'pkgSlurmMunge':'slurm-munge',
        'pkgSlurmPlugins':'slurm-plugins',
        'pkgSlurmPam':'slurm-pam_slurm',
        'pkgSlurmDevel':'slurm-devel',
        'pkgSlurmDBD': 'slurm-slurmdbd',
        'pkgSlurmSQL': 'slurm-sql',
        'pkgMunge':'munge',
        'pkgMySQLpython':'MySQL-python',
        'pkgMungeLibs':'munge-libs',
        'pkgMysqlSever':'mariadb-server',
        'srvMysqlSever':'mariadb',

        },
  'Debian': {
        'control_machine': 'localhost',
        'use_cgroup': True,
        'server': 'slurmctld',
        'server_bin': '/usr/sbin/slurmctld',
        'scontrol': '/usr/bin/scontrol',
        'slurmd': 'slurmd',
        'slurmd_bin': '/usr/sbin/slurmd',
	    'etcdir': '/etc/slurm-llnl',
        'config': 'slurm.conf',
        'env': '/etc/default/slurmd',
	    'plugindir': '/usr/lib/x86_64-linux-gnu/slurm',
	    'logdir': '/var/log/slurm-llnl',
	    'rundir': '/var/run/slurm-llnl',
	    'slurmddir': '/var/lib/slurm-llnl/slurmd',
	    'slurmctlddir': '/var/lib/slurm-llnl/slurmctld',
	    'slurmd': 'slurmd',
	    'slurmctld': 'slurmctld',
	    'slurmdbd': 'slurmdbd',
        'pkgSlurm':'slurm-client',
	    'pkgSlurmNode':'slurmd',
	    'pkgSlurmServer': 'slurmctld',
        'pkgSlurmMunge':'munge',
        'pkgSlurmPlugins':'slurm-wlm-basic-plugins',
        'pkgSlurmPam':'slurm-pam_slurm',
        'pkgSlurmDevel':'slurm-devel',
        'pkgSlurmDBD': 'slurmdbd',
        'pkgMunge':'munge',
        'pkgMySQLpython': 'python-mysqldb',
        'pkgMungeLibs':'munge-libs',
        'pkgMysqlSever':'mariadb-server',
        'srvMysqlSever':'mariadb',

     },
  },merge=salt['pillar.get']('slurm:lookup'))

%}

