ControlMachine={{ slurm.control_machine}}
AuthType=auth/munge
CacheGroups=0
CryptoType=crypto/munge
JobCheckpointDir=/var/lib/slurm-llnl/checkpoint
MpiDefault=none
ProctrackType=proctrack/pgid
ReturnToService=2
SlurmctldPidFile={{ slurm.rundir }}/slurmctld.pid
SlurmctldPort=6817
SlurmdPidFile={{ slurm.rundir }}/slurmd.pid
SlurmdPort=6818
SlurmdSpoolDir={{ slurm.slurmddir }}
SlurmUser=slurm
StateSaveLocation={{ slurm.slurmctlddir }}
SwitchType=switch/none
TaskPlugin=task/affinity
InactiveLimit=0
KillWait=30
MinJobAge=300
SlurmctldTimeout=300
SlurmdTimeout=300
Waittime=0
FastSchedule=1
SchedulerType=sched/backfill
SchedulerPort=7321
SelectType=select/linear
AccountingStorageType=accounting_storage/none
ClusterName=cluster
JobCompType=jobcomp/none
JobAcctGatherFrequency=30
JobAcctGatherType=jobacct_gather/none
SlurmctldDebug=3
SlurmctldLogFile={{ slurm.logdir }}/slurmctld.log
SlurmdDebug=3
SlurmdLogFile={{ slurm.logdir }}/slurmd.log
NodeName=compute[0-8] CPUs=4 RealMemory=3500 TmpDisk=8192 State=UNKNOWN
PartitionName=compute Nodes=compute[0-8] Default=YES MaxTime=INFINITE State=UP